<!--
<script src="//cdnjs.cloudflare.com/ajax/libs/knockout/3.1.0/knockout-min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
-->
<script src="/underscore-min-1.6.0.js"></script>
<script src="/jquery.min-1.10.2.js"></script>
<script src="/pica.js"></script>
<script src="/filesaver.js"></script>
<script src="/geodesy.js"></script>
<script src="/render.js"></script>

<script>

{% autoescape None %}
DATA = {{ json_encode(data) }};
PARAMS = {{ json_encode(params) }};

$(document).ready(init);

</script>

<style>

body {
}

canvas {
  image-rendering: optimizeQuality;
  background-image: url(/checker_bg.png);
}

</style>

<button id="map">launch map</button>
<button id="png">export png</button>
<hr />
