<!--
<script src="//cdnjs.cloudflare.com/ajax/libs/knockout/3.1.0/knockout-min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
-->
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="/pica.js"></script>
<script src="/geodesy.js"></script>
<script src="/render.js"></script>

<script>

{% autoescape None %}
DATA = {{ json_encode(data) }};

$(document).ready(init);

</script>

<style>

body {
  background-image: url(http://images0.pixlis.com/background-image-checkers-chequered-checkered-squares-seamless-tileable-wild-sand-light-grey-236emw.png);
}

canvas {
  image-rendering: optimizeQuality;
}

</style>
